<div class="container">
    <% for i in 0...@rows do %>
    <div class="row">
    <div class="margin-blyat-dont-work">
        <% for j in 0..3 do %>
        <% index = i*3+j %>
        
            <div class="col-6 col-sm-6 col-lg-4">
              <h2><%= @websites_all[index].website_name %></h2>
              <p><%= @websites_all[index].description %></p>
              <div><%= link_to 'View details', @websites_all[index], class:"btn btn-default" %></div>
            </div><!--/span-->
        <% end %>
    </div>
    <% end %>

    <div class="row">
    <div class="margin-blyat-dont-work">
        <% for i in 0...@rest do %>
            <div class="col-md-4">
              <h2><%= @websites_all[i].website_name %></h2>
              <p><%= @websites_all[i].description %></p>
              <div class="link_bottom"><%= link_to 'View details', @websites_all[i], class:"btn btn-default" %></div>
            </div><!--/span-->
        <% end %>
    </div>
    </div>

</div>
